---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import ContactForm from '../components/ContactForm.astro';
import Pricing from '../components/Pricing.astro';
---

<Layout title="" id="b2b">
	<main class="space-y-10 lg:space-y-40 md:space-y-20 pt-36 mb-40">
		<CallToAction/>
		<Pricing/>
		<ContactForm/>
	</main>
</Layout>