---
import Features from '../components/Features.astro';
import HeroSectionUgc from '../components/HeroSectionUgc.astro';
import Layout from '../layouts/Layout.astro';
import Ugc from '../components/Ugc.astro';
import CallToActionB2C from '../components/CallToActionB2C.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="" id="index">
	<main class="space-y-10 md:space-y-20 mb-40">
		<HeroSectionUgc/>
		<Features/>
		<CallToActionB2C/>
		<Ugc/>
		<ContactForm/>
	</main>
</Layout>