---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Submission Received | Caramelz - delicious apparel">
    <Container>
      <div class="py-10 lg:pt-40 px-4 mx-auto max-w-screen-md">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-800 dark:text-white"
        >
          Submission Received!
        </h2>
        <p
          class="mb-10 lg:mb-16 font-light text-center text-gray-600 dark:text-gray-300 sm:text-xl"
        >
          Thank you for your inquiry! Head back to the <a href="/" class="font-medium text-primary dark:text-secondary underline hover:no-underline">home page</a>.
        </p>
      </div>
    </Container>
</Layout>