---
import Container from "./Container.astro"

---

<div class="relative py-4">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-secondary dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-primary to-secondary dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative">
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h2 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Get Started now</h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          Discover the simple ordering process for packages with custom graphic designs. Click here to learn more about how to place your order.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="/pdf/CaramelzInstructions.pdf"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative flex text-base font-semibold text-white dark:text-dark">
                <span class="my-auto">Custom order procedure</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
              </span>
            </a>
            <a
              href="#contact-us"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            >
              <span
                class="relative text-base font-semibold text-primary dark:text-white"
                >More questions?</span
              >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>