---
import Container from "./Container.astro";
---

<div id="contact-us">
  <Container>
    <section class="bg-white dark:bg-gray-900 py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        Contact Us
      </h2>
      <p
        class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-neutral-300 sm:text-xl"
      >
        Got a technical issue? Want to send feedback about a beta feature?
        Need details about our Business plan? Let us know.
      </p>

      <script type="text/javascript">
        function updateSubject(valEmail) {
          document.getElementById("subject").value = "Contact inquiry #%{submissionId} from caramelz.store by " + valEmail;
        }
      </script>
      <form
        netlify
        netlify-honeypot="bot-field"
        name="contact"
        method="POST"
        action="/success"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
          <input
            type="hidden"
            id="subject"
            name="subject"
            value="Contact inquiry #%{submissionId} from caramelz.store"
          />
          <input type="hidden" name="form-name" value="contact" />
        </p>
        <div>
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-neutral-300"
            >Your name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Your Name"
            required
          />
        </div>
        <div class="mt-4">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-neutral-300"
            >Your email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="your@awesome.site"
            onchange="updateSubject(this.value)"
            required
          />
        </div>
        <div class="sm:col-span-2 mt-4">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-neutral-300"
            >Your message</label
          >
          <textarea
            id="message"
            name="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Leave a comment..."></textarea>
        </div>
        <button type="submit" class="relative flex mt-8 h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
          <span class="relative text-base font-semibold text-white dark:text-dark"
            >Send message</span
          >
          </button
        >
      </form>
    </section>
  </Container>
</div>
