---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    <div class="relative pt-22 mx-auto flex items-center justify-center">
      <div class="container mx-auto px-4 py-8 flex flex-col items-center text-center md:w-3/4">
        <p class="text-2xl mb-6 text-gray-900">That's why we've designed our Caramelz goggle covers - the perfect blend of protection, cleanliness, and
          fashion to keep your goggles in top-notch condition.</p>
        <p class="text-2xl font-bold mb-6 text-primary">Here's a simple guide on how to use our goggle covers and make the most out of your investment:</p>
      </div>
    </div>

    <div class="relative mx-auto flex items-center justify-center md:w-3/4 ">
      <div class="container mx-auto px-4 py-8 flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-4 md:mb-0 text-center md:text-left">
          <h2 class="text-3xl font-bold text-primary mb-2">Protection with style</h2>
          <p class="text-lg">Our goggle covers are more than just protective
            shields; they're also a style statement. Before hitting
            the slopes, simply slide your Caramelz goggle cover
            onto your goggles to shield them from scratches,
            dirt, and any accidental bumps.</p>
        </div>
        <div class="w-1/2 sm:w-1/4 md:w-1/2 mb-4 md:mb-0 flex">
          <img src="images/icon_lock.svg" alt="Caramelz Goggle covers" class="ml-auto" width="300" height="300">
        </div>
      </div>
    </div>

    <div class="relative mx-auto flex items-center justify-center md:w-3/4">
      <div class="container mx-auto px-4 py-8 flex flex-col md:flex-row items-center">
        <div class="w-1/2 sm:w-1/4 md:w-1/2 mb-4 md:mb-0 flex order-3 md:order-1">
          <img src="images/icon_goggle.svg" alt="Caramelz Goggle covers" class="mr-auto" width="300" height="300">
        </div>
        <div class="md:w-1/2 mb-4 md:mb-0 text-center md:text-right order-2">
          <h2 class="text-3xl font-bold text-primary mb-2">Ideal for breaks and lift rides</h2>
          <p class="text-lg">During those well-deserved breaks on the slopes or
            while ascending on a ski lift, it's the perfect time to
            put your Caramelz goggle cover to use. Just slip it
            over your goggles to safeguard them from potential
            damage and keep them clean from snow, debris, or
            any unexpected mishaps.
            </p>
        </div>
      </div>
    </div>

    <div class="relative mx-auto flex items-center justify-center md:w-3/4 ">
      <div class="container mx-auto px-4 py-8 flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-4 md:mb-0 text-center md:text-left">
          <h2 class="text-3xl font-bold text-primary mb-2">Remember to remove before action</h2>
          <p class="text-lg">It's essential to keep your Caramelz goggle cover off
            while actively skiing, snowboarding, or cycling. The
            covers are designed to protect during breaks and
            downtime, so remember to uncover your goggles
            before hitting the trails or slopes. This ensures a
            clear vision and a safe, enjoyable experience.</p>
        </div>
        <div class="w-1/2 sm:w-1/4 md:w-1/2 mb-4 md:mb-0 flex">
          <img src="images/icon_danger.svg" alt="Caramelz Goggle covers" class="ml-auto" width="300" height="300">
        </div>
      </div>
    </div>

    <div class="relative mx-auto flex items-center justify-center md:w-3/4">
      <div class="container mx-auto px-4 py-8 flex flex-col md:flex-row items-center">
        <div class="w-1/2 sm:w-1/4 md:w-1/2 mb-4 md:mb-0 flex order-3 md:order-1">
          <img src="images/icon_snap.svg" alt="Caramelz Goggle covers" class="mr-auto" width="300" height="300">
        </div>
        <div class="md:w-1/2 mb-4 md:mb-0 text-center md:text-right order-2">
          <h2 class="text-3xl font-bold text-primary mb-2">Easy maintenance!</h2>
          <p class="text-lg">When you're ready to hit the action again, simply
            remove the goggle cover and fold it away. The covers
            are easy to clean, and their lightweight design makes
            them hassle-free to carry in your pocket or bag.
          </p>
        </div>
      </div>
    </div>
  </Container>
</div>