---
import Container from "./Container.astro"

import '../../node_modules/tiny-slider/dist/tiny-slider.css'
---

<div class="relative" id="home">
    <!-- <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div> -->
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-secondary dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-primary to-secondary dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-3/4 text-center mx-auto">
        <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Safeguard your vision,<br><span class="block text-primary dark:text-primary mt-4">ski with style!</span></h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">Welcome to Caramelz, your ultimate destination for premium protective ski covers. Discover our collection of stylish and durable covers designed to safeguard your ski goggles while you rest, party, or enjoy the ski lifts. With Caramelz, you can hit the slopes with confidence, knowing your goggles are shielded in comfort and style. Explore our range of high-quality covers and elevate your skiing experience today!</p>
                <!-- <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div> -->
        <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Ultimate Protection</h6>
            <p class="mt-2 text-gray-500">Unmatched durability against elements</p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Style & Versatility</h6>
            <p class="mt-2 text-gray-500">Fashion-forward designs for every skier</p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Durable & Reliable</h6>
            <p class="mt-2 text-gray-500">Long-lasting covers for all conditions</p>
          </div>
        </div>
      </div>
    </div>
  </Container>

  <div id="covers-carousel" class="mt-20 flex space-x-20 overflow-x-auto no-scrollbar">
    <img src="/images/covers/in-stock/01.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/02.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/03.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/04.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/05.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/06.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
    <img src="/images/covers/in-stock/07.webp" alt="Caramelz - ski goggle covers" width="375" height="209" loading="lazy"/>
  </div>

  <script>
    // Import npm modules.
    import { tns } from 'tiny-slider';

    var slider = tns({
      "container": "#covers-carousel",
      "controls": false,
      "startIndex": 1,
      "items": 4,
      "responsive": {
        "100": {
          "items": 1,
          // "edgePadding": 30
        },
        "300": {
          "items": 2,
          // "edgePadding": 30
        },
        "500": {
          "items": 3,
          // "edgePadding": 50
        },
        "900": {
          "items": 4,
          // "edgePadding": 50
        }
      },
      "slideBy": "page",
      "mouseDrag": true,
      "swipeAngle": false,
      "speed": 400,
      "lazyload": true,
      // "edgePadding": -50,
    });
  </script>
</div>