---
import Container from "./Container.astro";
---

<div id="pricing">
  <Container>
    <section class="py-8 lg:py-10">
      <h2 class="mb-6 text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Pricing for bulk orders</h2>

      <p class="lg:w-3/4 mx-auto mb-6 text-center text-neutral-500 dark:text-neutral-300">
        Unlock exclusive savings with our bulk order pricing for ski goggle covers. Whether you're a company looking to enhance your brand with promotional gifts or an organization seeking to resell our premium covers, our pricing plans are tailored to meet your needs. Benefit from discounted rates and flexible quantities, ensuring your budget goes further without compromising on quality. Elevate your promotional efforts or boost your revenue by partnering with us for bulk orders.
      </p>

      <div class="md:w-1/2 mx-auto relative overflow-x-auto shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] sm:rounded-lg">
        <table class="w-full text-left text-gray-500 dark:text-gray-400">
            <thead class="text-sm text-gray-700 uppercase dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  50 PCS
                </th>
                <td class="px-6 py-4">
                  <span class="text-gray-900 dark:text-white">8 €</span> / pc
                </td>
              </tr>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  100 PCS
                </th>
                <td class="px-6 py-4">
                  <span class="text-gray-900 dark:text-white">6,5 €</span> / pc
                </td>
              </tr>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  250 PCS
                </th>
                <td class="px-6 py-4">
                  <span class="text-gray-900 dark:text-white">5,5 €</span> / pc
                </td>
              </tr>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  500 PCS
                </th>
                <td class="px-6 py-4">
                  <span class="text-gray-900 dark:text-white">5 €</span> / pc
                </td>
              </tr>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  1000 PCS
                </th>
                <td class="px-6 py-4">
                  <span class="text-gray-900 dark:text-white">4,5 €</span> / pc
                </td>
              </tr>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  More than 1000 PCS
                </th>
                <td class="px-6 py-4">
                  <a href="#contact-us" class="text-primary">CONTACT US</a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>

      <p class="lg:w-3/4 mx-auto mt-12 mb-6 text-center text-neutral-500 dark:text-neutral-300">
        Contact us today with your preffered package to discuss your requirements and explore the possibilities of our tailored pricing options.
      </p>

      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4 xl:gap-x-12 mb-20">
        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center dark:border-opacity-10">
              <p class="mb-4 text-sm uppercase dark:text-white">
                <!-- <strong>Flavour Choice</strong> -->
                <strong>CHOOSE YOUR<br>CARAMELZ FLAVOUR</strong>
              </p>
              <h3 class="mb-6 text-3xl dark:text-neutral-300">
                <strong>250 pcs</strong>
                <small class="text-sm text-neutral-500 dark:text-neutral-300">MOQ</small>
              </h3>

              <a
                class="dark:text-white inline-block w-full rounded bg-primary-100 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-ripple-init data-te-ripple-color="light"
                href="#contact-us">
                Contact us
              </a>
            </div>
            <div class="p-6">
              <ul class="list-inside" style="list-style: disc;">
                <li class="mb-4 flex dark:text-neutral-300">
                  Provide your graphics design based on our guidelines
                </li>
                <!-- <li class="mb-4 flex dark:text-neutral-300">
                  MOQ: 250
                </li> -->
                <li class="mb-4 flex dark:text-neutral-300">
                  <strong>Lead time = 8-12 weeks</strong>
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  EAN code per request
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  Free delivery within European Union (Optional fast shipping)
                </li>
                <!-- <li class="mb-4 flex dark:text-neutral-300 text-center">
                  <strong>CHOOSE YOUR CARAMELZ FLAVOUR</strong>
                </li> -->
              </ol>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center dark:border-opacity-10">
              <p class="mb-4 text-sm uppercase dark:text-white">
                <!-- <strong>Flavoured</strong> -->
                <strong>CARAMELZ WITH<br>OUR FLAVOURS</strong>
              </p>
              <h3 class="mb-6 text-3xl dark:text-neutral-300">
                <strong>250 pcs</strong>
                <small class="text-sm text-neutral-500 dark:text-neutral-300">MOQ</small>
              </h3>

              <a
                class="dark:text-white inline-block w-full rounded bg-primary-100 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-ripple-init data-te-ripple-color="light"
                href="#contact-us">
                Contact us
            </a>
            </div>
            <div class="p-6">
              <ol class="list-inside">
                <li class="mb-4 flex dark:text-neutral-300">
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-3 h-5 w-5 text-primary dark:text-primary-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg> -->
                    We prepare a design upon your request; you can choose up to 2 designs for a fee of 80€
                </li>
                <!-- <li class="mb-4 flex dark:text-neutral-300">
                  MOQ: 250
                </li> -->
                <li class="mb-4 flex dark:text-neutral-300">
                  <strong>Lead time = 8-12 weeks</strong>
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  EAN code included
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  Free delivery within European Union (Optional fast shipping)
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg border border-primary bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center dark:border-opacity-10">
              <p class="mb-4 text-sm uppercase dark:text-white">
                <!-- <strong>Menu</strong> -->
                <strong>CARAMELZ FROM<br>THE MENU</strong>
              </p>
              <h3 class="mb-6 text-3xl dark:text-neutral-300">
                <strong>100 pcs</strong>
                <small class="text-sm text-neutral-500 dark:text-neutral-300">MOQ</small>
              </h3>

              <a
                class="dark:text-white inline-block w-full rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                data-te-ripple-init data-te-ripple-color="light"
                href="#contact-us">
                Contact us
            </a>
            </div>
            <div class="p-6">
              <ol class="list-inside">
                <li class="mb-4 flex dark:text-neutral-300">
                  <span>Choose the tasties Caramelz flavour from <a href="/pdf/CaramelzCatalogue2023.pdf" target="_blank" class="text-primary">our menu</a></span>
                </li>
                <!-- <li class="mb-4 flex dark:text-neutral-300">
                  MOQ = 100 pcs
                </li> -->
                <li class="mb-4 flex dark:text-neutral-300">
                  <strong>Lead time = 8-12 weeks</strong>
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  EAN code included
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  Free delivery within European Union (Optional fast shipping)
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center dark:border-opacity-10">
              <p class="mb-4 text-sm uppercase dark:text-white">
                <!-- <strong>Express</strong> -->
                <strong>SUPER FAST CARAMELZ<br>FROM OUR STORE</strong>
              </p>
              <h3 class="mb-6 text-3xl dark:text-neutral-300">
                <strong>50 pcs</strong>
                <small class="text-sm text-neutral-500 dark:text-neutral-300">MOQ</small>
              </h3>

              <a
                class="dark:text-white inline-block w-full rounded bg-primary-100 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-ripple-init data-te-ripple-color="light"
                href="#contact-us">
                Contact us
            </a>
            </div>
            <div class="p-6">
              <ol class="list-inside">
                <li class="mb-4 flex dark:text-neutral-300">
                  Choose our favourite flavours which we keep in the candy shop all the time
                </li>
                <!-- <li class="mb-4 flex dark:text-neutral-300">
                  MOQ = 50
                </li> -->
                <li class="mb-4 flex dark:text-neutral-300">
                  <strong>Lead time = 1 week</strong>
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  EAN code included
                </li>
                <li class="mb-4 flex dark:text-neutral-300">
                  Free delivery within European Union
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

    </section>
  </Container>
</div>