---
import Container from "./Container.astro"

---

<div id="features">
  <Container>

    <div class="mx-auto md:w-3/4 px-4">
      <p class="text-lg mb-8">
        I am Štefan Hadalin, an alpine skier born on June 6, 1995, in Vrhnika, Slovenia. I have competed on some of the world's most renowned stages, highlighted by a silver medal in Alpine Combined at the 2019 FIS Alpine World Ski Championships in Åre, Sweden, and a 7th place finish in the Combined plus a 4th place in the Team Event at the 2018 Winter Olympics in PyeongChang. I have also secured multiple top-10 finishes in the FIS Alpine Ski World Cup, each one fueling my passion to keep pushing the limits.
      </p>
      
      <p class="text-lg mb-8">
        Those lessons learned on the slopes, such as perseverance, respect for the mountains, and an eye for every detail, inspired the creation of Caramelz, a brand where authenticity, sustainability, and a bold sense of style all come together. My goal is not just to bring you goggle covers, but to deliver an experience packed with energy, adventure, and that spark of living life to the fullest. Our goggle covers offer practical protection for your lenses while letting you showcase your personal style. They are crafted to be durable, environmentally friendly, and a perfect match for any skiing enthusiast.
      </p>
      
      <p class="text-lg mb-8">
        I am not doing this alone. Behind Caramelz is a tight-knit team of three, each of us contributing our own flair, expertise, and big ideas. Together, we aim to create something truly exciting and inspiring so that, from the moment you slip on our designs, you feel like part of the family.
      </p>
      
      <p class="text-lg mb-8">
        Join me on this journey and let us write the next chapter together, one that embraces honesty, environmental awareness, and a fearless love for life.
      </p>
    </div>

  </Container>
</div>