---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Replace these image placeholders with your actual images -->
        <img src="images/ugc_0.webp" alt="Caramelz goggle covers use case" class="w-full h-auto rounded-lg shadow-lg">
        <img src="images/ugc_1.webp" alt="Caramelz goggle covers use case" class="w-full h-auto rounded-lg shadow-lg">
        <img src="images/ugc_2.webp" alt="Caramelz goggle covers use case" class="w-full h-auto rounded-lg shadow-lg">
        <img src="images/ugc_3.webp" alt="Caramelz goggle covers use case" class="w-full h-auto rounded-lg shadow-lg">
        <!-- Add more images as needed -->
      </div>
    </div>
  </Container>
</div>